<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Erro.</h1>
        <h2 class="text-danger">ocorreu o seguinte erro:</h2>
    </hgroup>

    <div class="alert alert-danger text-center" >
        @ViewBag.MensagemErro
    </div>
   
</body>
</html>
