
@{
    ViewBag.Title = "Index";
}

<h2>Gestão de Pedidos - Selecione uma opção</h2>
<hr />

@Html.ActionLink("Incluir novo pedido", "Incluir")
@Html.ActionLink("Listar pedidos por cliente", "Listar")
